{% extends '_base.html' %}

{% block title %}About page{% endblock %}

{% block content %}
<h1 style="text-align:center">About page</h1>

<br>
<p>Group works and team projects are important and necessary in our academic area, also in the future work. 
    However, finding ideal people to work with is difficult, especially when people come to a new place where they do not know each other. 
    It would be helpful if, when people need to find partners for the group projects, we had a place where people can submit the recruition information, 
    so that people could efficiently find the group members they want to work with. </p>
<p> Our goal is to build a web-app that conveniently shares group events and allows people to find desirable projects to join in. 
    We will develop a full-featured web application for posting and sharing group events of Oberlin students. 
    Our web-app’s main page posts all event information submitted by users, which includes the text description of the event, 
    requirement for joining, timeline of the event and which field/department it belongs to. 
    After logging in, you could post the projects that you need to recruit members and check the details of other posts. 
    Hope you can find ideal members here to work with!
</p>

<br>
<br>

<!-- <p>
    {% load static %} <img src="{% static "images/Harry.jpg" %}" alt="home" />
</p>

<p>
    {% load static %} <img src="{% static "images/Shangchi.jpg" %}" alt="home" />
</p>

<p>
    {% load static %} <img src="{% static "images/Yuchen.jpg" %}" alt="home" />
</p> -->

<h3 style="text-align:center">Our Team</h3>
<br>

<div id="banner" style="overflow: hidden; display: flex; justify-content:space-around;">
    <div>
        <img src ="{% static "images/Harry.jpg" %}">
        <h5 style="text-align:center">Harry Zhang</h5>
    </div>

    <div>
        <img src ="{% static "images/Shangchi.jpg" %}">
        <h5 style="text-align:center">Shangchi Yuan</h5>
    </div>

    <div>
        <img src ="{% static "images/Yuchen.JPG" %}">
        <h5 style="text-align:center">Yuchen Wang</h5>
    </div>
</div>

{% endblock content %}