{% extends '_base.html' %}
{% load static %}

{% block content %}

<div class="main">

    <h2>Post Details:</h2>
    <hr>
    <p><b>Proposer Name: </b> <br> {{ detail.Your_Name }} <hr> </p>
    <p><b>Title:</b> <br> {{ detail.Title }} <hr> </p>
    <p><b>Description:</b> <br> {{ detail.Description }} <hr> </p>
    <p><b>Dept Name:</b> <br> {{ detail.Department }}<hr> </p>
    <p><b>Requirement:</b> <br> {{ detail.Requirement }}<hr> </p>
    <p><b>Deadline:</b> <br> {{ detail.Deadline }}<hr> </p>
    <p><b>Post Date:</b> <br> {{ detail.Date_Posted}}<hr> </p>
    <p><b>Contact Email:</b> <br> {{ detail.Email }}<hr> </p>
  
</div>

{% endblock content %}