{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">A Platform To Find Other Great Minds.</p>
</div>

<br>
<div class="row">
	<div class="col">

			<form method="get">
				{{myFilter.form}}

		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>

	</div>
	
</div>
<br>

<div class="row">
	<div class="col-md">
		<table class="table table-sm">
			<tr>
				<th>Title</th>
				<th>Department</th>
				<th>Description</th>
			</tr>

			{% for post in posts %}

			<tr>
				<td>{{post.title}}</td>
				<td>{{post.dept_name}}</td>
				<td>{{post.description}}</td>
			</tr>
			{% endfor %}

		</table>
	</div>
</div>

{% endblock content %}