{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">A Platform To Find Other Great Minds.</p>
</div>

<div style="float:left; width:15%;">

	<h6>Department List</h6>
	<ul>
		<li>Africana Studies</li>
		<li>Anthropology</li>
		<li>Archaeological Studies</li>
		<li>Art History</li>
		<li>Athletics and Physical Education</li>
		<li>Biology</li>
		<li>Chemistry and Biochemistry</li>
		<li>Cinema Studies</li>
		<li>Classics</li>
		<li>Comparative American Studies</li>
		<li>Comparative Literature</li>
		<li>Computer Science</li>
		<li>Creative Writing</li>
		<li>Dance</li>
		<li>East Asian Studies</li>
		<li>Economics</li>
		<li>Engineering</li>
		<li>English</li>
		<li>Environmental Studies</li>
		<li>French and Italian</li>
		<li>Gender, Sexuality, and Feminist Studies</li>
		<li>Geology</li>
		<li>German Language and Literatures</li>
		<li>Hispanic Studies</li>
		<li>History</li>
		<li>Jewish Studies</li>
		<li>Latin American Studies</li>
		<li>Law and Society</li>
		<li>Learning Across the Disciplines</li>
		<li>Mathematics</li>
		<li>Middle East and North Africa Studies</li>
		<li>Musical Studies</li>
		<li>Neuroscience</li>
		<li>Philosophy</li>
		<li>Physics and Astronomy</li>
		<li>Politics</li>
		<li>Psychology</li>
		<li>Religion</li>
		<li>Rhetoric and Composition</li>
		<li>Russian Language, Literature and Culture</li>
		<li>Russian and East European Studies</li>
		<li>Sociology</li>
		<li>Studio Art</li>
		<li>Theater</li>
	</ul>


</div>

<br>
<div style="float:right; width:80%;">
	<div class="row">
		<div class="col">

				<form method="get">
					{{myFilter.form}}

				<button class="btn btn-outline-primary" type="submit">Search</button>
				</form>

		</div>
		
	</div>
	<br>

	<div class="row">
		<div class="col-md">
			<table class="table table-sm">
				<tr>
					<th>Title</th>
					<th>Department</th>
					<th>Description</th>
				</tr>

				{% for post in posts %}

				<tr>
					<td>{{post.title}}</td>
					<td>{{post.dept_name}}</td>
					<td>{{post.description}}</td>
					<td>
						<a class="btn" href="{% url 'detail' post.id %}">View Post Details</a>
					</td>
					
				</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endblock content %}