{% extends '_base.html' %}
{% load static %}

{% block title %}Home page{% endblock title %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <p class="lead">A Platform To Find Other Great Minds.</p>
</div>

<div style="float:left; width:15%;">

	<h6>Department List</h6>
	<ul>
		<li>Africana Studies</li>
		<li>Anthropology</li>
		<li>Archaeological Studies</li>
		<li>Art History</li>
		<li>Athletics and Physical Education</li>
		<li>Biology</li>
		<li>Chemistry and Biochemistry</li>
		<li>Cinema Studies</li>
		<li>Classics</li>
		<li>Comparative American Studies</li>
		<li>Comparative Literature</li>
		<li>Computer Science</li>
		<li>Creative Writing</li>
		<li>Dance</li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/east-asian-studies" class="button">East Asian Studies</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/economics" class="button">Economics</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/engineering" class="button">Engineering</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/english" class="button">English</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/environmental-studies" class="button">Environmental Studies</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/french-and-italian" class="button">French and Italian</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/gsfs" class="button">Gender, Sexuality, and Feminist Studies</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/geology" class="button">Geology</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/german" class="button">Language and Literatures</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/hispanic-studies" class="button">Hispanic Stuies</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/history" class="button">History</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/jewish-studies" class="button">Jewish Studies</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/latin-american-studies" class="button">Latin American Studies</a></li>
		<li><a href="https://www.oberlin.edu/arts-and-sciences/departments/law-and-society" class="button">Law and Society</a></li>
		<li><a href="https://www.oberlin.edu/center-student-success/learning-enhancement" class="button">Learning Across the Disciplines</a></li>
		<li>Mathematics</li>
		<li>Middle East and North Africa Studies</li>
		<li>Musical Studies</li>
		<li>Neuroscience</li>
		<li>Philosophy</li>
		<li>Physics and Astronomy</li>
		<li>Politics</li>
		<li>Psychology</li>
		<li>Religion</li>
		<li>Rhetoric and Composition</li>
		<li>Russian Language, Literature and Culture</li>
		<li>Russian and East European Studies</li>
		<li>Sociology</li>
		<li>Studio Art</li>
		<li>Theater</li>
	</ul>


</div>

<br>
<div style="float:right; width:80%;">
	<div class="row">
		<div class="col">

				<form method="get">
					{{myFilter.form}}

				<button class="btn btn-outline-primary" type="submit">Search</button>
				</form>

		</div>
		
	</div>
	<br>
	<div style="float:left; width:95%;">
		<div class="row">
			<div class="col-md">
				<table class="table table-sm">
					<tr>
						<th>Title</th>
						<th>Department</th>
						<th>Requirement</th>
						<th>Description</th>
					</tr>

					{% for post in posts %}

					<tr>
						<td>{{post.Title}}</td>
						<td>{{post.Department}}</td>
						<td>{{post.Requirement}}</td>
						<td>{{post.Description}}</td>
						<td>
							<a class="button" href="{% url 'detail' post.id %}">View Post Details</a>
						</td>
						
					</tr>
					{% endfor %}

				</table>
			</div>
		</div>
	</div>
</div>
{% endblock content %}